body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 150px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

a {
  color: brown;
  text-decoration: none;
}

.nav-item.active {
  color: black;
}

.nav-item {
  margin-left: 10px;
}

.products{
  list-style: none;
}

.products img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

